params {
    id                      = null
    input                   = null
    source_sequences        = null
    target_taxid            = null
    background              = null
    calibration_reads       = null
    calibration_target_taxids = null
    kmer_size              = 31
    deacon_window          = 1
    entropy_threshold      = 0.6
    taxon_ref_db           = null
    max_blast_targets      = 100
    help            = false
    help_full       = false
    show_hidden     = false
    validate_params = true
    version         = false
}

process {
    cpus = 1
    memory = '2 GB'
    withName: 'BLAST_MAKEBLASTDB' {
        ext.args = '-dbtype nucl'
    }
}

profiles {
    docker {
        docker.enabled = true
    }
    apptainer {
        apptainer.enabled = true
    }
}

manifest {
    name            = 'dholab/baits'
    homePage        = 'https://github.com/dholab/baits'
    description     = 'Build auditable bait sets for biological targets'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=26.04.6'
    version         = '0.1.0.dev0'
}

includeConfig 'conf/modules.config'

plugins {
    id 'nf-schema@2.5.1'
}
