params {
    id                      = null
    input                   = null
    target_sequences        = null
    target_taxid            = null
    interference_background = null
    help            = false
    help_full       = false
    show_hidden     = false
    validate_params = true
    version         = false
}

manifest {
    name            = 'dholab/baits'
    homePage        = 'https://github.com/dholab/baits'
    description     = 'Build auditable Bait Sets of Clean K-mers for biological targets'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=26.04.6'
    version         = '0.1.0.dev0'
}

plugins {
    id 'nf-schema@2.5.1'
}
