params {
    id                      = null
    input                   = null
    source_sequences        = null
    target_taxid            = null
    background              = null
    calibration_reads       = null
    calibration_target_taxids = null
    kmer_size              = 31
    deacon_window          = 1
    entropy_threshold      = 0.6
    taxon_ref_db           = null
    max_blast_targets      = 100
    help            = false
    help_full       = false
    show_hidden     = false
    validate_params = true
    version         = false
}

process {
    cpus = 1
    memory = '4 GB'
    disk = '20 GB'
    time = '4h'

    withLabel: process_low {
        cpus = 1
        memory = '4 GB'
        disk = '20 GB'
        time = '4h'
    }
    withLabel: process_medium {
        cpus = 6
        memory = '16 GB'
        disk = '100 GB'
        time = '12h'
    }
    withLabel: process_high {
        cpus = 20
        memory = '64 GB'
        disk = '300 GB'
        time = '24h'
    }
    withLabel: process_extra_high {
        cpus = 20
        memory = '265 GB'
        disk = '500 GB'
        time = '48h'
    }

    withName: 'BLAST_MAKEBLASTDB' {
        cpus = 1
        ext.args = '-dbtype nucl'
    }
}

profiles {
    docker {
        docker.enabled = true
    }
    apptainer {
        apptainer.enabled = true
    }
    containerless {
        docker.enabled = false
        apptainer.enabled = false
    }
    local {
        docker.enabled = false
        apptainer.enabled = false
    }
    test {
        process.executor = 'local'
        executor.cpus = 2
        executor.memory = '4 GB'

        process {
            withLabel: process_low {
                cpus = 1
                memory = '2 GB'
                disk = '5 GB'
                time = '2h'
            }
            withLabel: process_medium {
                cpus = 2
                memory = '4 GB'
                disk = '5 GB'
                time = '8h'
            }
            withLabel: process_high {
                cpus = 2
                memory = '4 GB'
                disk = '5 GB'
                time = '12h'
            }
            withLabel: process_extra_high {
                cpus = 2
                memory = '4 GB'
                disk = '5 GB'
                time = '24h'
            }
        }
    }
}

manifest {
    name            = 'dholab/baits'
    homePage        = 'https://github.com/dholab/baits'
    description     = 'Build auditable bait sets for biological targets'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=26.04.6'
    version         = '0.1.0.dev0'
}

includeConfig 'conf/modules.config'

plugins {
    id 'nf-schema@2.5.1'
}
